PORT=5000
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/dbname?retryWrites=true&w=majority
JWT_SECRET=your_student_jwt_secret_here
ADMIN_JWT_SECRET=your_admin_jwt_secret_here
JWT_EXPIRES_IN=7d
NODE_ENV=production
ADMIN_SEED_EMAIL=ezontechclasses@gmail.com
ADMIN_SEED_PASSWORD=your_admin_password_here
FRONTEND_URL=https://ezone.vercel.app
